
.icon-ok:before { content: '\e800'; } /* '' */
.icon-lamp_icon:before { content: '\e801'; } /* '' */
.icon-pie_icon:before { content: '\e802'; } /* '' */
.icon-person_icon:before { content: '\e803'; } /* '' */
.icon-container_icon:before { content: '\e804'; } /* '' */
.icon-paper_icon:before { content: '\e805'; } /* '' */
.icon-blocks_icon:before { content: '\e806'; } /* '' */
.icon-car_icon:before { content: '\e807'; } /* '' */
.icon-clock_icon:before { content: '\e808'; } /* '' */
