/* http://meyerweb.com/eric/tools/css/reset/ 
          v2.0 | 20110126
          License: none (public domain)
        */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browserssads */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

#landing_container {
  display: flex;
  overflow: visible;
  justify-content: center;
}

.flex {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row wrap;
  position: relative;
  gap: 8rem;
  max-width: 2000px;
  max-height: 3579px;
}

.top_left_container {
  display: flex;
  order: 1;

  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  padding-left: 10rem;
  padding-right: 3rem;
}

.button_container {
  display: flex;
  justify-content: center;
}

.input_box {
  display: flex;
  justify-content: center;
  max-width: 400px;

  border-radius: 20px;
  background: #342e7f;
  padding-top: 20px;
  padding-bottom: 3px;
}

input[type="text"] {
  border-radius: 3px;
  height: 30px;
  border: none;
  font-size: 0.5em;
  width: 31%;
  color: #707070;
}

.button_book_demo {
  position: relative;
  background: linear-gradient(#819cff, #7e51ff);
  font-family: Inter;
  font-weight: 550;
  border-radius: 75px;
  height: 50px;
  width: 200px;
  color: #ffffff;
  top: 20px;
  border: none;
}

.top_right_container {
  order: 2;
  display: flex;
}

#mask_group_1 {
  height: 400px;
  width: 561px;
}

#bottom_container_images {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  max-width: 150px;
  max-height: 50px;
  /* need a relative size for image*/
}

.bottom_container {
  display: flex;
  order: 3;
  width: 100%;
  background: #342e7f;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

/* new */

.safe-area {
  width: 1200px;
  margin: 0 auto;
}

.main {
  display: grid;
  position: relative;
  gap: 40px;
  top: 50px;

  grid-template-columns: 1fr 1fr;
}
.main .gi {
  height: 600px;
  width: 500px;
}
.main .left.gi img {
  width: 250px;

  position: relative;
}

.main .left.gi h3 {
  font-size: 3em;
  font-weight: 550;
  position: relative;
  margin-top: 30px;
}

.main .left.gi p {
  font-size: 1em;
  font-weight: 400;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 2;
}
.brmedium {
  display: block;
  margin-bottom: 2em;
}

.main .right.gi {
  overflow-y: hidden;
}
.main .right.gi img {
  position: absolute;
  top: -150px;
  height: 650px;
}
.main .left.gi h3 span {
  background: -webkit-linear-gradient(left, #ed1ce6, #649dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.news1 {
  display: grid;
  position: relative;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  background: #f5f4ff;
  border-radius: 20px;
}
.news1 .gi {
  height: 500px;
}
.news1 .right.gi {
  margin-right: 110px;
  margin-top: 100px;
}
.news1 .right.gi h4 {
  font-size: 2em;
  font-weight: 400;
  position: relative;
  color: #292470;
  line-height: 1.3;
}

.news1 .right.gi p {
  margin-top: 2em;
  color: #757575;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
}
.news1 .left.gi {
  overflow-y: hidden;
}
.news1 .left.gi img {
  position: absolute;

  left: -280px;
  height: 500px;
}
.page2_top {
  display: grid;
  position: relative;
  gap: 40px;
  top: 50px;
  grid-template-columns: 1fr 1fr;
  background: #f5f4ff;
  border-radius: 20px;
}

.page2_top .gi {
  height: 500px;
  width: 500px;
}
.page2_top .page2_top_left.gi {
  margin-top: 50px;
  margin-left: 80px;
}
.page2_top .page2_top_left.gi h4 {
  font-size: 2.2em;
  font-weight: 400;
  position: relative;
  margin-top: 30px;
  color: #292470;
}

.page2_top .page2_top_left.gi p {
  font-size: 1em;
  font-weight: 300;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 1.5;
}

.page2_top .page2_top_left.gi .button_book_demo {
  margin-top: -10px;
  margin-left: -300px;
}

.page2_top .page2_top_right img {
  position: absolute;
  height: 600px;
}

.page2_bottom {
  margin-top: 50px;
  display: grid;
  position: relative;
  top: 50px;
  grid-template-columns: fit-content(50%) fit-content(50%);
  background: #f5f4ff;
  border-radius: 20px;
}

.page2_bottom .gi {
  height: 400px;
}
.page2_bottom .top_right.gi {
  margin-right: 110px;
  margin-top: 100px;
  margin-left: 50px;
}
.page2_bottom .top_right.gi h4 {
  font-size: 2.2em;
  font-weight: 400;
  position: relative;
  color: #292470;
  line-height: 1.3;
}

.page2_bottom .top_right.gi p {
  margin-top: 2em;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}
.page2_bottom .top_left.gi {
  overflow-y: hidden;
}
.page2_bottom .top_left.gi img {
  margin-top: 70px;
  margin-left: 80px;
  position: absolute;
  height: 300px;
}

.page2_bottom h4 {
  font-size: 2.2em;
  font-weight: 400;
  position: relative;
  color: #292470;
  line-height: 1.3;
  margin-left: 70px;
}

.page2_bottom .top_right.gi h4 {
  margin-left: 0px;
}

.page2_bottom .mid_text {
  margin-top: -75px;
  margin-left: 50px;
}
.page2_bottom .mid_text h4 {
  font-size: 30px;
  font-weight: 600;
}

.page2_bottom .bottom_left.gi {
  background-color: #ffffff;
  margin-left: 100px;
  border-radius: 20px;
  max-height: fit-content;
}

.icon-ok {
  color: #7167ff;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
}

li {
  margin: 30px;
}

.page2_bottom .bottom_right.container {
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  grid-gap: 1px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 300px;
  margin-left: 50px;
}

.bottom_right.container .cell {
  text-align: center;
  padding-top: 10px;
  background-color: #d6d2ff;
  max-height: 300px;
}

.bottom_right.container .cell > i {
  font-size: 40px;
  font-weight: 800;
}
.bottom_right.container .cell > p {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}

.bottom_right.container > div:nth-child(1) {
  border-top-left-radius: 20px;
}
.bottom_right.container > div:nth-child(2) {
  border-top-right-radius: 20px;
}
.bottom_right.container > div:nth-last-child(1) {
  grid-column-end: span 2;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.bottom_right.container > div:nth-last-child(2) {
  grid-column-end: span 2;
}

.page2_bottom .button_container {
  grid-column-end: span 2;
}

.page3 {
  margin-top: 100px;
  display: grid;
  position: relative;
  gap: 40px;
  top: 50px;
  grid-template-rows: 1fr 1fr;
  height: 600px;
}
.page3 .page3_top {
  position: relative;
}

.page3 .page3_top .the_team {
  position: relative;
  color: #819cff;
  font-size: 2em;
  margin-left: 440px;
  margin-bottom: -15px;
}
.page3 .page3_top #team_background {
  position: absolute;
  height: 250px;
}
.page3 .page3_top .team_members_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.page3 .page3_top .team_members_container .team_member {
  position: relative;
  margin-top: 140px;
}
.page3 .page3_top #team_images {
  height: 150px;
}

.page4 .button_container {
  margin-top: 40px;
}
.page4 .container_area {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
}
.page4 .stats_container {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.page4 .stats_container .stats {
  text-align: center;
}

.page4 .stats_container .stats h5 {
  color: #7167ff;
  font-weight: 600;
  font-size: 3em;
}

.page4 .stats_container .stats p {
  margin-top: 15px;
  color: #8580b2;

  font-size: 1em;
}
/*
.bottom_right.container > div {
  text-align: center;
  padding: 20px 0;
  background-color: #d6d2ff;
  font-size: 30px;
  border-bottom: 1px solid white;
}

.bottom_right.container > div:last-child,
.bottom_right.container > div:nth-last-child(2):nth-child(odd) {
  border-bottom: none;
}

.bottom_right.container > div:nth-child(odd) {
  border-right: 1px solid white;
}


.bottom_right.container > div:nth-child(1) {
  border-top-left-radius: 20px;

}
.bottom_right.container > div:nth-child(2) {
  border-top-right-radius: 20px;
}
*/

@media only screen and (max-width: 1200px) {
  .safe-area {
    width: 800px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .safe-area {
    width: 600px;
    margin: 0 auto;
  }

  .news1 .right.gi {
    position: absolute;
    margin-right: 110px;
    margin-top: 100px;
  }
  .news1 .left.gi img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .safe-area {
    width: calc(100% - 20px);
    margin: 10px auto;
  }

  .news1 .right.gi {
    position: absolute;
    margin-right: 110px;
    margin-top: 100px;
  }
  .news1 .left.gi img {
    display: none;
  }
}
